stateMachine/stateMachine.asl.yml
Version: '1.0'
Comment: 'Express Workflow State Machine for Order Processing'

# Define the Start state
StartAt: TriggerStateMachine
States:
  TriggerStateMachine:
    Type: Task
    Resource: arn:aws:lambda:REGION:ACCOUNT_ID:function:TriggerStateMachineLambda  # Replace with actual Lambda ARN
    Next: InputValidation

  InputValidation:
    Type: Task
    Resource: arn:aws:lambda:REGION:ACCOUNT_ID:function:InputValidationLambda  # Replace with actual Lambda ARN
    Next: PaymentProcessing
    Catch:
      - ErrorEquals:
          - 'States.ALL'
        ResultPath: '$.error'
        Next: Fail

  PaymentProcessing:
    Type: Task
    Resource: arn:aws:lambda:REGION:ACCOUNT_ID:function:PaymentProcessingLambda  # Replace with actual Lambda ARN
    Next: OrderConfirmation
    Catch:
      - ErrorEquals:
          - 'States.ALL'
        ResultPath: '$.error'
        Next: Fail

  OrderConfirmation:
    Type: Task
    Resource: arn:aws:lambda:REGION:ACCOUNT_ID:function:OrderConfirmationLambda  # Replace with actual Lambda ARN
    End: true
    Catch:
      - ErrorEquals:
          - 'States.ALL'
        ResultPath: '$.error'
        Next: Fail

  Fail:
    Type: Fail
    Error: 'ProcessingFailed'
    Cause: 'One or more steps failed.'
